.loading {
  $padding: 10vh;
  width: 100%;
  height: calc(100vh - 64px - 64px - #{$padding});
  display: flex;
  justify-content: center;
  padding-top: $padding;
}

.pool {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pool-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  div {
    margin: 0 0.5rem;
  }
}

.pool-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    width: 23em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      margin-bottom: 0.5em !important;
    }
  }
}

.pool-textbox {
  width: 25em;
}

.pool-images {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-pic {
  width: 18em;
}
