.root {
  $padding: 1rem;
  width: 100%;
  min-height: calc(100vh - 64px - 64px - #{$padding});
  padding-top: $padding;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-accordian {
  max-width: 40rem;
  margin: 1rem auto !important;
}

.generate-button {
  margin-bottom: 1rem !important;
}

.loading {
  display: flex;
  justify-content: center;
}

.pool {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pool-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  div {
    margin: 0 0.5rem;
  }
}

.pool-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    width: 23em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      margin-bottom: 0.5em !important;
    }
  }
}

.pool-textbox {
  width: 25em;
  input,
  .MuiOutlinedInput-multiline {
    background-color: white;
  }
}

.pool-images {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-pic {
  width: 18em;
}
