.home {
  &__splash {
    width: 100%;
    height: calc(100vh - 64px);
    background-image: url('starscape.png');
    display: flex;
  }

  &__splash-content {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 3rem;
    color: white;
  }

  &__links {
    margin-top: 4rem;
  }

  &__links-buttons {
    margin-top: 1rem;
    a {
      text-decoration: none;
    }
  }

  &__body {
    padding: 3rem 10rem;
    @media (min-width: 768px) {
      padding: 3rem 20rem;
    }
  }
}
