body {
  margin: 20px;
}

.pool {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 1rem;
}

.pool-textbox {
  // margin-bottom: 1rem !important;
  width: 25em;
}

.pool-images {
  // text-align: center;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
}

.card-pic {
  width: 18em;
}
